/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 2, 2015, 5:19:13 PM
    Author     : Marisa
*/

@import url(https://fonts.googleapis.com/css?family=News+Cycle);

body{
    font-family: 'News Cycle', sans-serif;
    font-size: 14px;
}