/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2015, 9:13:59 PM
    Author     : Marisa
*/

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}


.file_toolbar{
    
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: #98ADFF; //blue
    -fx-hgap: 5px;
 
}
.file_toolbar_button{
    
    -fx-background-color:transparent;
}
.file_toolbar_exit_button{
    
    -fx-background-color:transparent;
    -fx-alignment: bottom-right;
}
.workspace_mode_toolbar{
    
    -fx-alignment: CENTER;
    -fx-background-color: #AEBEFF; //lightblue
    -fx-bottom-border-color: #98ADFF; 
    -fx-hgap: 20px;
    
}
.workspace_mode_toolbar_button{
    
    -fx-alignment: CENTER;
    -fx-background-color:#C3CFFF;
    -fx-padding: 5px 10px 5px 10px;
}

.comp_toolbox {
    
    //-fx-alignment: CENTER;
    -fx-background-color:lightblue;
    //-fx-padding: 5px 20px 5px 5px;
    
}

.comp_toolbox_button{
    -fx-alignment: CENTER;
    -fx-background-color:transparent;
    -fx-padding: 8px 8px 8px 8px;
    -fx-vertical-spacing:40px;
}

.comp_title{
    
     -fx-background-color:lightblue;
     -fx-alignment:CENTER;
     //-fx-padding: 10px 10px 10px 10px;
}

.workspace{
     -fx-background-color:grey;
}


.theme_title{
    -fx-alignment: CENTER;
    -fx-background-color: #BFB9F6;
}

.themes_toolbox{
    
    -fx-background-color: #BFB9F6; 
}
.themes_toolbox.combo-box{ 
    
    -fx-bottom-padding: 10px;
    -fx-left-padding: 5px;
}

.themes_toolbox .label{
     
    -fx-left-padding: 5px;
    -fx-bottom-padding: 5px;
}

.page_title{
    -fx-background-color: #BFB9F6;
}
.site_title{
    -fx-alignment: CENTER;
    -fx-background-color: #BFB9F6;
}

.site_toolbar{
    
    -fx-alignment: CENTER;
    -fx-background-color: #BFB9F6;
}
.site_toolbar .label{
    -fx-right-padding: 10px;
    -fx-padding: 10px 10px 10px 10px;
}

.site_toolbar_button{
 
    -fx-background-color: transparent;
}

.list_pages{
    
    -fx-alignment: top-left;
    -fx-background-color: #BFB9F6; 
}

.list_pages_scroll{
    
    -fx-focus-color: #BFB9F6; //selected border color
    -fx-background: #BFB9F6; //background
    -fx-background-color: #BFB9F6; //border color
}

.combo-box{
    -fx-pref-width: 130;
    -fx-font-family: roboto;
    -fx-font-size: 13px;
}

.label{
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-family: roboto;
    -fx-font-size: 14px;
}

.textfield{
    -fx-pref-width: 20;
}

// Dialogues

.image_dialogue{
    
    -fx-alignment: CENTER;
    -fx-background-color: #BFB9F6;
}

.okCancel_hbox{
    
    -fx-padding: 40px 30px 20px 30px;
}

.header_vbox{
    
    -fx-font-size: 18px;
}

.text_dialogue{
    
    -fx-padding-left: 10px;
    -fx-padding-down: 10px;
    -fx-alignment: CENTER;
}

.text_dialogue_hbox{
    
    -fx-alignment: CENTER;
    -fx-padding-left: 10px;
}

.text_dialogue_button{
    
   // -fx-background-color: transparent;
}

.video_dialogue{
    
    -fx-alignment: CENTER;
    -fx-background-color: #BFB9F6;
}
