/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2015, 9:13:59 PM
    Author     : Marisa
*/

.file_toolbar{
    
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: #887EE9;
    -fx-border-color: #BFB9F6;
 
}
.file_toolbar_button{
    
    -fx-background-color:transparent;
}
.file_toolbar_exit_button{
    
    -fx-background-color:transparent;
    -fx-alignment: bottom-right;
}
.workspace_mode_toolbar{
    
    -fx-alignment: CENTER;
    -fx-background-color: pink;
    -fx-border-color: #BFB9F6; 
    
}
.workspace_mode_toolbar_button{
    
    -fx-alignment: CENTER;
    -fx-background-color:transparent;
    -fx-padding: 5px 20px 5px 5px;
}

.comp_toolbox{
    
    -fx-alignment: CENTER;
    -fx-background-color:lightblue;
    -fx-padding: 5px 20px 5px 5px;
    
}

.comp_toolbox_button{
    -fx-alignment: CENTER;
    -fx-background-color:transparent;
    -fx-padding: 10px 10px 10px 10px;
}

.workspace{
     -fx-background-color:grey;
}